version = 0.1

[default.deploy.parameters]
stack_name = "apohco-dashboard"
region = "us-east-2"
confirm_changeset = true
capabilities = "CAPABILITY_IAM"
resolve_s3 = true
parameter_overrides = [
  "Stage=dev",
  "DbHost=REPLACE_WITH_RDS_ENDPOINT",
  "DbName=apohco_dashboard",
  "DbCredentialsSecretArn=REPLACE_WITH_DB_CREDENTIALS_SECRET_ARN",
  "AppSecretsArn=REPLACE_WITH_APP_SECRETS_ARN",
  "FrontendUrl=REPLACE_WITH_FRONTEND_URL",
  "VpcSubnetIds=REPLACE_WITH_SUBNET_IDS",
  "VpcSecurityGroupIds=REPLACE_WITH_SECURITY_GROUP_IDS",
]

[prod.deploy.parameters]
stack_name = "apohco-dashboard-prod"
region = "us-east-2"
confirm_changeset = true
capabilities = "CAPABILITY_IAM"
resolve_s3 = true
parameter_overrides = [
  "Stage=prod",
  "DbHost=REPLACE_WITH_RDS_ENDPOINT",
  "DbName=apohco_dashboard",
  "DbCredentialsSecretArn=REPLACE_WITH_DB_CREDENTIALS_SECRET_ARN",
  "AppSecretsArn=REPLACE_WITH_APP_SECRETS_ARN",
  "FrontendUrl=REPLACE_WITH_FRONTEND_URL",
  "VpcSubnetIds=REPLACE_WITH_SUBNET_IDS",
  "VpcSecurityGroupIds=REPLACE_WITH_SECURITY_GROUP_IDS",
]
